<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/karanveersp/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="karanveersp" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>